@import "vars.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
button {
  padding: 5px;
  background: var(--background-color);
  outline: none;
  border: 1px solid var(--accents-color);
  border-radius: 5px;
  color: var(--accents-color);
}
button:hover {
  background-color: var(--accents-color);
  color: var(--background-color);
}
button:active {
  transform: translate(0, 2px);
}
.active .btn {
  background-color: var(--accents-color);
  color: var(--background-color);
}
.header {
  text-align: center;
  font-size: 10vw;
  color: whitesmoke;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40vh;
  font-family: Dancing Script;
  font-style: italic;
}
.header span {
  background: linear-gradient(
    to right,
    var(--accents-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-style: normal;
}
.cover center {
  font-size: 4vw;
}
.cover,
.cover * {
  --cover-color: var(--lighter);
}
.cover .two {
  --cover-color: red;
}
.cover {
  width: 100vw;
  height: 100vh !important;
  margin: 0 auto;
  background-color: var(--cover-color);
  background-color: attr(data-background);
}
.cover * {
  background-color: var(--cover-color);
}
