@import "vars.css";
button {
  padding: 5px;
  background: var(--background-color);
  outline: none;
  border: 1px solid var(--accents-color);
  border-radius: 5px;
  color: var(--accents-color);
}
button:hover {
  background-color: var(--accents-color);
  color: var(--background-color);
}
button:active {
  transform: translate(0, 2px);
}
.active .btn {
  background-color: var(--accents-color);
  color: var(--background-color);
}
.header {
  font-size: 50px;
  font-weight: 500;
  font-family: Raleway;
  padding: 100px 20px;
}
.cover {
  width: 100vw;
  height: 100vh;
}
