@import "vars.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
button {
  padding: 5px;
  background: var(--background-color);
  outline: none;
  border: 1px solid var(--accents-color);
  border-radius: 5px;
  color: var(--accents-color);
  margin: 2px;
}
button:hover {
  background-color: var(--accents-color);
  color: var(--background-color);
}
button:active {
  transform: translate(0, 2px);
}
.active .btn {
  background-color: var(--accents-color);
  color: var(--background-color);
}
.header {
  text-align: center;
  font-size: 8vw;
  color: whitesmoke;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40vh;
  font-family: Dancing Script;
  font-style: italic;
}
.header span {
  transition-property: opacity, color, background-color, text-shadow;
  transition-duration: 0.2s;
  background: linear-gradient(
    to right,
    var(--accents-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-style: normal;
  text-shadow: -1px -2px whitesmoke;
}
.header span:hover {
  text-shadow: -2px -4px whitesmoke;
}
.dark-mode .header span {
  text-shadow: 0px 0px 5px var(--accents-color);
  animation: pulse 2s infinite;
}

.cover center {
  font-size: 3vw;
  overflow: visible;
}
@media only screen and (max-width: 600px) {
  .cover center {
    font-size: 5vw;
  }
}
.cover,
.cover * {
  --cover-color: var(--lighter);
}
.cover *::selection {
  background-color: transparent;
}
.two,
.two * {
  --cover-color: var(--background-color);
}
.three,
.three * {
  --cover-color: var(--background-color);
}
.cover {
  overflow: hidden;
  width: 100vw;
  height: fit-content;
  margin: 0 auto;
  background-color: var(--cover-color);
  background-color: attr(data-background);
}
.cover * {
  background-color: var(--cover-color);
}

@keyframes pulse {
  0% {
    text-shadow: 0px 0px 5px var(--accents-color);
  }
  50% {
    text-shadow: 0px 0px 5px -2px var(--accents-color);
  }
}

#progress-container {
  margin-top: -8px;
  margin-left: -8px;
  position: fixed;
  width: 100%;
  height: 50px;
  background: linear-gradient(var(--background-color), transparent);
}
#scroll {
  transition: width 0.05s ease-in-out;
  position: fixed;
  background: linear-gradient(
    to right,
    var(--accents-color),
    var(--secondary-color)
  );
  height: 5px;
}
footer {
  background-color: var(--lighter);
  margin: 0;
  margin-top: -10px;
  padding: 20px;
  text-shadow: 2px -1px var(--background-color);
}
.dark-mode footer {
  text-shadow: 0px 0px 2px var(--accents-color);
}
svg path {
  transform-origin: top;
  animation: animateWave 3s ease infinite;
}
svg:first-child {
  transform-origin: bottom;
}
@keyframes animateWave {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
::selection {
  color: currentColor;
  background-color: var(--accents-transparent);
}
.iconify {
  list-style-type: none;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.975);
  padding: 10px;
  margin: 10px;
  height: 50px;
  width: auto;
  color: var(--secondary-color) !important;
  border-radius: 5px;
  border: 1px solid var(--accents-color);
}

.iconify:hover {
  border-color: var(--accents-color);
  box-shadow: 0 0 0 5px var(--accents-transparent);
  animation: iconify 3s infinite;
}
@media (min-width: 600px) and (min-height: 400px) {
  .iconify {
    height: 10vh;
    min-height: 40px;
    padding: 2vh;
    position: absolute;
    top: 5%;
    left: 5px;
    margin: 20px;
    background-color: transparent;
  }
  .iconify:nth-of-type(1) {
    top: 20%;
  }
  .iconify:nth-of-type(2) {
    top: 35%;
  }
  .iconify:nth-of-type(3) {
    top: 50%;
  }
}
@media (max-width: 300px) {
  .iconify {
    display: none;
  }
}
button {
  font-size: 15px;
}

hr {
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--accents-color),
    transparent
  );
  border: none;
}
