@import "vars.css";
@import "elements.css";
* {
  transition-property: background-color, color, opacity, background-size,
    box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-color: var(--background-color);
  padding: none;
  margin: none;
  font-family: Raleway;
  color: var(--main-color);
  overflow-x: hidden;
}
ul li::before {
  content: "- ";
}
#code {
  background-color: #272822;
  display: inline-block;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  font-family: monospace;
  padding: 2px;
}
pre * {
  background-color: #272822;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px;
}
#subtitle {
  text-align: center;
  font-family: monospace;
  color: var(--accents-color);
}
#subtitle::before {
  content: "Written: ";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat;
  font-weight: 800;
  background: linear-gradient(to right, var(--accents-color), yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}
a {
  color: var(--link);
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}
img {
  border-radius: 10px;
  background: var(--background-color);
  padding: none;
  margin: none;
}
a {
  background-image: linear-gradient(
    to right,
    var(--accents-transparent) 0%,
    var(--secondary-color) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 88%;
}
a:hover {
  background-size: 100% 100%;
}

[ripple] {
  position: relative;
  overflow: hidden;
}
[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
:root {
  --ripple-color: rgba(255, 255, 255.5);
}
[ripple] .ripple--container span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background-color: var(--ripple-color);
  animation: ripple 1s;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
