@import "vars.css";
@import "elements.css";
* {
  transition-property: background-color, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background-color: var(--background-color);
  padding: none;
  margin: none;
  font-family: Raleway;
  color: var(--main-color);
  overflow-x: hidden;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat;
  font-weight: 800;
  background: linear-gradient(to right, var(--accents-color), yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  color: var(--link);
}

p {
  font-size: 20px;
}

#float {
  float: right;
  padding: 10px;
  width: 150px;
  background: red;
}
a {
  text-decoration: none;
}
a {
  transition: background-size 0.3s ease-out;
  background-image: linear-gradient(
    to right,
    var(--accents-transparent) 0%,
    var(--secondary-color) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 88%;
}
a:hover {
  background-size: 100% 100%;
}
